@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Slab:300,400,700');

:root {
    --primary-font: 'Roboto Slab', serif;
    --secondary-font: 'Open Sans', sans-serif;
    --fore-color: #111;
    --secondary-fore-color: #444;
    --back-color: #f8f8f8;
    --secondary-back-color: #f0f0f0;
    --blockquote-color: #f57c00;
    --pre-color: #1565c0;
    --border-color: #aaa;
    --secondary-border-color: #ddd;
    --heading-ratio: 1.19;
    --universal-margin: .25rem;
    --universal-padding: .25rem;
    --universal-border-radius: .125rem;
    --a-link-color: #0277bd;
    --a-visited-color: #01579b;
}

/**** Global ****/
h1, h2, h3, h4, h5, a, span{
    margin: var(--universal-margin);
    font-family: var(--primary-font);
}
p{
    font-weight: 400;
    font-family: var(--secondary-font);
}
ol li, ul li {
    font-weight: 300;
    font-family: var(--secondary-font);
}
#content{
    border: none;
}
form{
    background: none;
    color: initial;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}
fieldset{
    border: none;
}
textarea {
    resize: none;
}
.e-mail:before {
    content: attr(data-website) "\0040" attr(data-user);
    unicode-bidi: bidi-override;
    direction: rtl;
    color: #337ab7;
}
#say_hi input, #say_hi textarea {
    width: 100%;
    border: .0625rem solid var(--input-border-color);
}
.blog-container{
    min-height: 50vh;
}
#intro{
    padding: 2rem 0;
}
#intro img{
    border-radius: 50%;
}
#intro p{
    color: #5a5a5a;
    font-family: var(--primary-font);
}
.text-center{
    text-align: center;
}
@media all and (max-width: 768px){
    #intro img{
        width: 30%;
        display: block;
        margin: 0 auto;
        padding: 0;
    }
    #intro h4, #intro p{
        text-align: center;
        font-family: var(--primary-font);
    }
}

/**** Post ****/
.sub-heading{
    font-size: 16px;
    font-weight: 300;
    font-family: var(--primary-font);
    padding: 2px 7px;
    display: inline;
    background-color: #eee;
}
.last-updated {
    color: #2e9fff;
    font-size: 16px;
    font-weight: 300;
    font-family: var(--primary-font);
}
.post, .contact {
    border-bottom: 1px solid #ddd;
    padding: 20px 10px;
}
.post.single {
    padding: 30px 0 10px;
}
.post:last-child,
.contact:last-child {
    border-bottom: 0;
}
@media (min-width: 992px) {
    .post, .contact {
        padding: 10px 0;
        margin: 0 50px;
    }
    .main-content{
        padding: 0;
        margin: 0 35px;
    }
    .post.single {
        padding: 50px 0 30px;
    }
}
.post .title {
    color: #222;
    font-size: 1.6em;
    margin: 0 0 0.2em;
}
.post blockquote {
    margin: 30px 55px;
}
.post blockquote p {
    font-weight: 300;
    font-style: italic;
    font-family: var(--primary-font);
}
.post.single header {
    margin-bottom: 30px;
}
.post .title a {
    color: #222;
}
.post .title a:hover{
}
.post .description {
    color: #344151;
    letter-spacing: 0.01em;
}
.post .description p{

}
.post .description pre{
    padding: 0;
    margin: 15px 0;
}
.post .meta {
    font-weight: 400;
    font-size: 12px;
    background: #eee;
    display: inline;
    padding: 1px 5px;
}
.post.single,
.post.featured {
    font-size: 1.2em;
}
#disqus_thread{
    padding-top: 30px;
}

/**** Search bar ****/
.search__container {
    padding-top: 20px;
    padding-bottom: 30px;
}
.search__container .search__submit{
    background: url(../img/search.png) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 24px;
    top: 32px;
    border: none;
}
.search__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #ff8b88;
}
.search__input {
    font-family: var(--primary-font);
    width: 100%;
    padding: 12px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    /*transition: all 250ms ease-in-out;*/
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    border: none;
    border-bottom: 1px solid #575756;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.search__input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    letter-spacing: 1.5px;
}
.search__input:focus {
    outline: 0;
    border: none;
    border-bottom: 1px solid #575756;
    border-radius: 0;
}

/**** Sidebar Menu ****/
.sidebar-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
}
@media all and (max-width: 768px) {
    .sidebar-menu{
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
    }
}
.sidebar-menu li{
    float: left;
}
.sidebar-menu li a{
    color: #0091ff;
    font-size: 16px;
    font-family: var(--primary-font);
    text-decoration: none;
}

.gads{
    display: block !important;
    margin: 0 auto !important;
}

/**** Footer ****/
div.footer hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
div.footer p{
    font-family: var(--primary-font);
    margin-bottom: 0;
}
div.footer p:last-child{
    padding-bottom: 10px;
}
