{% extends "main.html" %}

{% block title %}
    {{ blog_details.title }}
{% endblock %}

{% block meta_data %}
    <meta name="keywords" content="{{ blog_details.meta_description }}">
    <meta name="description" content="{{ blog_details.meta_keyword }}">
{% endblock %}

{% block content %}
    <div>---{{ blog.content }}</div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-md-offset-2">
            <section class="post single">
                <header>
                    <h1 class="title font-1">
                        {{ blog.title }}
                    </h1>
                    <p class="sub-heading">Posted in <a href="{{ blog.category.get_absolute_url }}">{{ blog.category }}</a></p>
                </header>
                <div class="description">
                    {{ blog.content|safe }}
                    <p>Feel free to suggest improvements. Thank you!</p>
                    <p class="last-updated">[ Lasted updated on {{ blog.date_modified }} ]</p>
                </div>
                {% include 'segments/google_ads.html' %}
                {% include 'segments/disqus.html' %}
            </section>
        </div>
    </div>
{% endblock %}
