{% load honeypot %}

<div class="footer">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
            <form id="say_hi" action="{% url 'core:contact_form_view' %}" method="POST">
                {% csrf_token %}

                <fieldset>
                    <div class="row responsive-label">
                        <div class="col-sm-12 col-md-8 col-md-offset-2">
                            {{ form.email_alt }}
                        </div>
                    </div>
                    <div class="row responsive-label">
                        <div class="col-sm-12 col-md-8 col-md-offset-2">
                            {{ form.message }}
                        </div>
                    </div>
                    <div class="row responsive-label">
                        <div class="col-sm-12 col-md-12 text-center">
                            <button type="submit">
                                Say Hi
                            </button>
                        </div>
                    </div>
                </fieldset>

                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" name="{{ form.subject_1.name }}" style="display:none !important" tabindex="-1" autocomplete="off" />
                {% render_honeypot_field 'email' %}
            </form>
            <p class="text-center">Get in touch with me on <a href="https://www.linkedin.com/in/aasim-mk/" target="_blank">LinkedIn</a>, <a href="https://github.com/AasimMK" target="_blank">GitHub</a></p>
            <hr>
            <p class="text-center">Built with <a href="https://wagtail.io/" target="_blank">Wagtail</a> and <a href="https://minicss.org/" target="_blank">mini.css</a>.</p>
        </div>
    </div>
</div>