{% load static gtm_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="keywords" content="Aasim Khan, python, django, serverless, iot, internet of things, aws, backend developer, new delhi">
        <meta name="description" content="My name is Aasim Khan, senior software developer based in India. Works on aws, python, django, rest-api and internet of things">
        <meta name="author" content="Aasim Khan">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
        <link rel="stylesheet" media="all" href="{% static 'css/myblog.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>
        <!-- HTML5 shiv for IE8 support -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>

        <![endif]-->
        {% gtm_head %}
    </head>
    <body>
        {% gtm_body %}
        <main id="main" class="col-md-6 col-md-offset-3 col-sm-12">
            <div id="content" class="card fluid">
                <div class="section double-padded">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                                <div class="row" id="intro">
                                    <div class="col-md-4">
                                        <img class="img-responsive img-circle" alt="Aasim Khan" height="160" width="160" src="{% static 'img/aasim.jpg' %}">
                                    </div>
                                    <div class="col-md-8">
                                        <h4>Salam! I'm Aasim Khan.</h4>
                                        <p>A software engineer based out of New Delhi, India. I write code in python. This is my personal blog and I post my ideas here.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row blog-container">
                            <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                                {% block content %}

                                {% endblock content %}
                            </div>
                        </div>
                        <div class="footer">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <p class="text-center">Say Hi!</p>
                                    <form>
                                        <fieldset>
                                            <div class="row responsive-label">
                                                <div class="col-sm-12 col-md-8 col-md-offset-2">
                                                    <input type="text" placeholder="Email" style="width:100%;" class="doc">
                                                </div>
                                            </div>
                                            <div class="row responsive-label">
                                                <div class="col-sm-12 col-md-8 col-md-offset-2">
                                                    <textarea class="doc" style="width:100%;" placeholder="Message" spellcheck="false"></textarea>
                                                </div>
                                            </div>
                                            <div class="row responsive-label">
                                                <div class="col-sm-12 col-md-12 text-center">
                                                    <input type="button" value="Send" />
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                    <p class="text-center">Get in touch with me on <a href="https://www.linkedin.com/in/aasim-mk/" target="_blank">LinkedIn</a>, <a href="https://github.com/AasimMK" target="_blank">GitHub</a></p>
                                    <hr>
                                    <p class="text-center">Built with <a href="https://wagtail.io/" target="_blank">Wagtail</a> and <a href="https://minicss.org/" target="_blank">mini.css</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
    </body>
</html>
