{% load static gtm_tags honeypot %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock title %}</title>
    {% block meta %}
    {% endblock %}
    <meta name="author" content="Aasim Khan">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" media="all" href="{% static 'css/myblog.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>
    {% gtm_head %}
</head>
<body>
{% gtm_body %}
<main id="main" class="col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-md-offset-2">
    <div id="content" class="card fluid">
        <div class="section double-padded">
            <div class="container">
                {% block intro %}
                {% endblock intro %}

                {% block content %}
                {% endblock content %}

                {% include 'segments/footer.html' %}
            </div>
        </div>

    </div>
</main>
</body>
</html>
